.left-container .joinUs {
  width: 40%;
  height: 40px;
  z-index: 1;
  border-radius: 10px;
  color: white;
  border: 1px solid #ff7200;
  background-color: transparent;
  font-size: 17px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.left-container .joinUs::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -48%;
  left: -10%;
  width: 120%;
  height: 250%;
  background-color: #ff7200;
  border-radius: 50%;
}
.left-container .joinUs:hover::before {
  top: 100%;
  transition: all 0.4s;
}
.left-container .joinUs:hover {
  color: #ff7200;
}
