*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background:rgba(255, 253, 253, 0.904);
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    position: sticky;
    top: 0px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
.navbar{
    box-shadow: 1px 1px 10px 0.5px;
}
nav ul li:first-child,nav ul li:nth-child(2){
    margin-right: auto;
}
nav ul li{
    height: 2.5rem;
}
nav a,nav li svg{
    height: 100%;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.navbar li:first-child{
    margin-left: 10px;
}   
nav a{
    text-decoration: none;
    color: black;
    padding: 0 30px;
}
nav a:hover{
    background-color: #00000030;
}
.menubar{
    display: none;
}
.sidebar{
    position: fixed;
    background-color: #ffffffa0;
    backdrop-filter: blur(20px);
    left: 0%;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.sidebar{
    display: none;
}
.sidebar li{
    width: 100%;
}
.sidebar .close  {
    width: 100%;
    position: relative;
}
.sidebar .close svg{
    position: absolute;
    top: 0%;
    right: 10%;
}
.brandname{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
main{
    margin: 20px;
}
main h1{
    font-size:clamp(2rem,7vw +1rem,5rem) ;
    text-transform: uppercase;
    text-align: center;
}
img{
    display: block;
}
.img-container{
    width: min(1000px ,100%);
    columns: 3 300px;
    margin: 0px auto;
    padding: min(1em,10%);
}
.img-container img{
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 2px 5px 2px black;
    cursor: pointer;
}
.img-container img:hover{
    border-radius: 0px;
}

.close-img-btn{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}
.open-close-img{
    display: block;
    position: fixed;
    top: 8vh;
    right: 8vw;
    z-index: 99;
}
.open-img{
    position: fixed;
    inset: 0;
    margin: auto;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    overflow: hidden;
}
.open-img img{
    box-shadow: none;
    border-radius: 0;
    min-width: fit-content;
    max-width: 80dvw;
    max-height: 80dvh;
    object-fit: contain;
    object-position: center;
}

main h1{
    color: transparent;
    background:linear-gradient(to right,red 10%,blue 80%,green);
    background-clip: text;
}

@media (max-width:800px){
    .hideinmobile{
        display: none;
    }
    .menubar {
        display: block;
    }
}
@media (max-width:400px){
    .sidebar{
        width:100%;
    }
}